@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table table-striped">
    <thead>
        <th>KATEGORİ ADI</th>
        <th>KATEGORİ AÇIKLAMA</th>
    </thead>
    <tbody>
        @foreach (var kategori in ViewBag.Kategoriler as List<Category>)
        {
            <tr>
                <td>@(kategori.CategoryName)</td>
                <td>@(kategori.Description)</td>
            </tr>
        }

    </tbody>
</table>